.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bigred {
  font-family: "Courier New";
  font-style: italic;
  font-size: xx-large;
  color: red;
}

.divBox {
  width: 20px;
  height: 20px;
  border-style:solid;
  border-color: black;
  color: red;
}

.keyboard {
  border-style:solid;
  border-color: black;
  border-width: 1px;
}

.keybox {
  border-style:solid;
  border-color: blue;
  border-radius: 5%;
  color: red;
  border-width: 1px;
  width: 30px;
  height: 30px;
}