/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .divBox {
  width: 20px;
  height: 20px;
  border-style:solid;
  border-color: black;
  color: red;
} */

/* body { height: 90% } */

/* .fullheight {
  height: calc(var(--vh, 1vh) * 100);
} */

.NumbrioDiv {
  width: 100vw;
  /* min-height: 90.6vh; */
  /* max-height: 100vh; */
  height: 100vh;
  overflow: hidden;

  /* Source: 
    https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html
    See Comments
  */
  /* Study media query for dynamic screen size 
     browser size dragging will change the elements position
  */
  /* height: calc(var(--vh, 1vh) * 100); */

  /* border-style: solid;
  border-color: blue;
  border-width: 1px;
  border-radius: 0%; */

  display: flex;
  /* grid-auto-rows: 2fr; */
  /* grid-template-columns: repeat(auto-fill, minmax(67vh, 1fr)); */
  flex-direction: column;
  justify-content: space-between;
  /* position: absolute; */

  margin: 0px;
}

.reload {
  flex-shrink: 0;
  z-index: 2;

  /* background-color: "black"; */

  position: absolute;

  top: 70vh;
  left: 75%;
  margin-left: -5%;
  /* To keep square */
  /* min-width: 1vw;
  min-height: 1vh;
  max-width: 30vw;
  max-height: 30vh; */
  /* width: calc(5rem + innerheight);
  height: calc(5rem + innerheight); */

  /* border: 1px red solid; */
  /* border-radius: 50%; */

  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.divHeader {
  width: 100vw;
  height: 3rem;

  position: sticky;
  
  border-radius: 3%;
  border-bottom: 1px solid darkgrey; /*-bottom*/

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  
  overflow: hidden;

  /* margin-bottom: 3rem; */
}

.divBody {
  width: 100vw;
  /* min-height: 1vh; 
  max-height: calc(--vh - 21.6); */
  height: calc(innerheight - 21.6);
  /*100 - 21.6 = 78.4   */


  /* border: solid red 1px; */
  /* border-radius: 0%; */

  overflow-y: hidden;
  overflow-x: hidden;

  /* z-index: -1; */
}

.divFooter {
  width: 100vw;
  height: 14vh;

  border-radius: 2%;
  border-top: solid 1px darkgrey; /*-top*/

  flex-shrink: 0;

  overflow-y: hidden;
  overflow-x: hidden;

  display: "flex";
  flex-direction: "column";
  justify-content: center;
  align-items: "center";
  
  /* margin-top: 0.5rem; */
}

/* 
.keyboard {
  border-style: solid;
  border-color: black;
  border-width: 0px;
} */

.KeyRow {
  /* this box's width/height */
  width: 100%;
  height: 50%;

  /* border line */
  /* border-style: solid;
  border-color: blue;
  border-width: 1px; */

  /* content alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* box space control */
  /* padding: '0px'; */
  /* margin: 1px 1px; */ /* this makes scrolling */
}

.keyFont {
  /* background-color: props.pointer[1]; */
  width: 1rem;
  height: 100%;

  /* Border Line */
  /* border-style: "solid";
  border-radius: 28%;
  border-width: 1px;
  border-color: blue; */

  /*  */
  padding: 0px;
  margin: 0px 1px;
  display: flex;

  color: darkgrey;
  font-size: medium;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;

  /*    
  border-style:solid;
  border-color: white;
  border-width: 1px;   
    */
  /* 
  animation-duration: "0.2s";
  animation-iteration-count: "initial"; */
}

.blockFont {
  height: 100%;
  width: 100%;

  font-size: large;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;

  /*animation-fill-mode: both;*/
  animation-duration: "0.1s";
  animation-iteration-count: "initial";
}

/* .dialog {
  overflow-x: hidden;
  overflow-y: hidden;
} */

/* CSS Animation Effects */

Button:focus {
  outline: none;
}

/* #baseball {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
} */

@media (prefers-reduced-motion: no-preference) {
  #baseball {
    animation: baseball-spin infinite 1.8s linear;
  }
}

@keyframes baseball-spin {
  from {
    transform: rotate(0deg);
    /* transform: rotateY(0deg); */
  }
  to {
    transform: rotate(360deg);
    /* transform: rotateY(360deg); */
  }
}

/* #guideblock {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  transform: scale3d(1.2, 1.2, 1.2); 
  border-color: blue;
} */

@media (prefers-reduced-motion: no-preference) {
  #guideblock {
    animation: block-spin 1s linear;
  }
}

@keyframes block-spin {
  /* 프레임 끝나면 블락 하단 짤렸다가 다시 생김
   */
  from {
    transform: rotateY(0deg);
    transform: rotateX(0deg);
    background-color: white;
    border-color: darkgrey;
  }
  /* 0% {
    transform: rotateY(0deg);
    background-color: white;
    border-color: darkgrey;
  }
  10% {
    transform: rotateY(17.5deg);
  }
  20% {
    transform: rotateY(35deg);
  }
  30% {
    transform: rotateY(52.5deg);
  }
  40% {
    transform: rotateY(70deg);
  }*/
  50% {
    transform: rotateY(240deg);
    background-color: white;
    border-color: darkgrey;
    /* transform: rotateX(0deg); */
  }
  /* 60% {
    transform: rotateY(110deg);
  }
  70% {
    transform: rotateY(127.5deg);
  }
  80% {
    transform: rotateY(142.5deg);
  }
  90% {
    transform: rotateY(160deg);
  }  */
  to {
    /* transform: rotateX(0deg); */
    transform: rotateY(360deg);

    /* transform: rotateY(360deg); */
    /* background-color: red; */
  }
}

/*  Source
https://stackoverflow.com/questions/50380360/pure-css-zoom-animation-based-on-timer
*/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  15% {
    -webkit-transform: scale3d(1.12, 1.12, 1.12);
    transform: scale3d(1.12, 1.12, 1.12);
  }
  30% {
    -webkit-transform: scale3d(1.06, 1.06, 1.06);
    transform: scale3d(1.06, 1.06, 1.06);
  }
  50% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  15% {
    -webkit-transform: scale3d(1.12, 1.12, 1.12);
    transform: scale3d(1.12, 1.12, 1.12);
  }
  30% {
    -webkit-transform: scale3d(1.06, 1.06, 1.06);
    transform: scale3d(1.06, 1.06, 1.06);
  }
  50% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* */
@-webkit-keyframes breath {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1%;
  }
  1% {
    -webkit-transform: scale3d(1.005, 1.005, 1.005);
    transform: scale3d(1.005, 1.005, 1.005);
    opacity: 2%;
  }
  2% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
    opacity: 3%;
  }
  3% {
    -webkit-transform: scale3d(1.015, 1.015, 1.015);
    transform: scale3d(1.015, 1.015, 1.015);
    opacity: 4%;
  }
  4% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
    opacity: 5%;
  }
  5% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 6%;
  }
  6% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: scale3d(1.04, 1.04, 1.04);
    opacity: 9%;
  }
  7% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 15%;
  }
  10% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: 30%;
  }
  20% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
    opacity: 50%;
  }
  30% {
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
    opacity: 70%;
  }
  40% {
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
    opacity: 85%;
  }
  50% {
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
    opacity: 100%;
  }
  60% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
    opacity: 100%;
  }
  70% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: 80%;
  }
  80% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 65%;
  }
  90% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: scale3d(1.04, 1.04, 1.04);
    opacity: 45%;
  }
  95% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 25%;
  }

  96% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
    opacity: 10%;
  }

  97% {
    -webkit-transform: scale3d(1.015, 1.015, 1.015);
    transform: scale3d(1.015, 1.015, 1.015);
    opacity: 4%;
  }
  98% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
    opacity: 3%;
  }
  99% {
    -webkit-transform: scale3d(1.008, 1.008, 1.008);
    transform: scale3d(1.008, 1.008, 1.008);
    opacity: 2%;
  }
  100% {
    -webkit-transform: scale3d(1.005, 1.005, 1.005);
    transform: scale3d(1.005, 1.005, 1.005);
    opacity: 1%;
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0%;
  }
}

@keyframes breath {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1%;
  }
  1% {
    -webkit-transform: scale3d(1.005, 1.005, 1.005);
    transform: scale3d(1.005, 1.005, 1.005);
    opacity: 2%;
  }
  2% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
    opacity: 3%;
  }
  3% {
    -webkit-transform: scale3d(1.015, 1.015, 1.015);
    transform: scale3d(1.015, 1.015, 1.015);
    opacity: 4%;
  }
  4% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
    opacity: 5%;
  }
  5% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 6%;
  }
  6% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: scale3d(1.04, 1.04, 1.04);
    opacity: 9%;
  }
  7% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 15%;
  }
  10% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: 30%;
  }
  20% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
    opacity: 50%;
  }
  30% {
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
    opacity: 70%;
  }
  40% {
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
    opacity: 85%;
  }
  50% {
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
    opacity: 100%;
  }
  60% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
    opacity: 100%;
  }
  70% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: 80%;
  }
  80% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 65%;
  }
  90% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: scale3d(1.04, 1.04, 1.04);
    opacity: 45%;
  }
  95% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 25%;
  }

  96% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
    opacity: 10%;
  }

  97% {
    -webkit-transform: scale3d(1.015, 1.015, 1.015);
    transform: scale3d(1.015, 1.015, 1.015);
    opacity: 4%;
  }
  98% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
    opacity: 3%;
  }
  99% {
    -webkit-transform: scale3d(1.008, 1.008, 1.008);
    transform: scale3d(1.008, 1.008, 1.008);
    opacity: 2%;
  }
  100% {
    -webkit-transform: scale3d(1.005, 1.005, 1.005);
    transform: scale3d(1.005, 1.005, 1.005);
    opacity: 1%;
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0%;
  }
}
